.right_container {
    height: 96vh;
    border-radius: 20px;
    padding: 15px 20px;
}

.coming_soon_title_1{
    font-family: var(--bold-font) !important;
    font-size: 28px;
    justify-content: center;
    color: var(--dark-grey-color);
}