.container {
    padding: 10px 15px !important;
}

.title {
    font-family: var(--semiBold-font);
    font-size: 28px;
}

.desc {
    font-family: var(--semiBold-font);
    color: var(--dark-grey-color);
}