.tag {
	border: 1px solid #5B00FF !important;
	color: #fff !important;
	background-color: #5B00FF !important;
	margin: 2px 2px;
}

.accordian_title {
	font-family: var(--bold-font);
	font-size: 17px;
	line-height: normal;
	text-align: left !important;
}

.accordian_desc {
	font-size: 17px;
	line-height: normal;
}

.accordion_container {
	border: 1px solid #E2E8F0;
	border-radius: 5px;
}

.collaborator_option_title {
	font-family: var(--bold-font);
	font-size: 24px;
	padding: 5px 0px;
}