@font-face {
	font-family: "GoodTimesRg";
	src: local("GoodTimesRg"),
		url("./public/fonts/good-times/goodtimesrg.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Nunito-Regular";
	src: local("Nunito-Regular"),
		url("./public/fonts/nunito/Nunito-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Nunito-SemiBold";
	src: local("Nunito-SemiBold"),
		url("./public/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Nunito-Bold";
	src: local("Nunito-Bold"),
		url("./public/fonts/nunito/Nunito-Bold.ttf") format("truetype");
	font-weight: normal;
}

* {
	font-family: Nunito-Regular;
	padding: 0;
}

:root {
	--regular-font: 'Nunito-Regular';
	--semiBold-font: 'Nunito-SemiBold';
	--bold-font: 'Nunito-bold';
	--dark-grey-color: #a3a3a3;
}

.zeptical-red-fill-button {
	background-color: #eb3838 !important;
	color: #fff !important;
	font-family: var(--bold-font) !important;
}

.zeptical-red-fill-button:hover {
	border: 1px solid #eb3838 !important;
	background-color: #fff !important;
	color: #eb3838 !important;
}

.zeptical-red-empty-button {
	border: 1px solid #eb3838 !important;
	background-color: #fff !important;
	color: #eb3838 !important;
	font-family: var(--bold-font) !important;
}

.zeptical-red-empty-button:hover {
	background-color: #eb3838 !important;
	color: #fff !important;
}

.zeptical-original-fill-button {
	background-color: #5B00FF !important;
	color: #fff !important;
	font-family: var(--bold-font) !important;
}

.zeptical-original-fill-button:hover {
	border: 1px solid #5B00FF !important;
	background-color: #fff !important;
	color: #5B00FF !important;
}

.input-focus:focus {
	border: 1px solid #5B00FF !important;
	box-shadow: 0 0 0 1px #5B00FF !important;
}

.sub-text {
	color: var(--dark-grey-color);
}

.avoid-focus:focus-visible {
	outline: none;
}

._main_container {
	display: flex;
	gap: 20px;
	padding: 2vh 0;
}

._page_title {
	font-family: var(--bold-font) !important;
	font-size: 28px;
	/* padding: 10px 15px; */
}

.container-divider {
	margin: 8px 0;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}


.back-navigation-container {
	display: flex;
	align-items: center;
	gap: 8px;
	/* font-size: 18px; */
	cursor: pointer;
	font-family: var(--bold-font) !important;
	padding: 10px 10px 0 10px;
}

.back-navigation-location {
	font-family: var(--semiBold-font);
}

.important_field_mark{
	color: red;
}

.accordian_title {
	font-family: var(--semiBold-font);
	font-size: 17px;
	line-height: normal;
	text-align: left !important;
}

.accordian_desc {
	font-size: 17px;
	line-height: normal;
}

.accordion_container {
	border: 1px solid #E2E8F0;
	border-radius: 5px;
}

.collaborator_option_title {
	font-family: var(--bold-font);
	font-size: 24px;
	padding: 5px 0px;
}

.tag {
	border: 1px solid #5B00FF !important;
	color: #fff !important;
	background-color: #5B00FF !important;
	margin: 2px 2px;
	cursor: pointer;
}

/* ----------------- */