.container {
    justify-content: space-between;
}

.sidebar_parent_container {
    width: 320px;
    height: 100vh;
}

.middle_container {
    /* border: 1px solid red; */
}

.right_parent_container {
    height: 100vh;
}

.page_title{
    font-family: var(--bold-font) !important;
    font-size: 28px;
    padding: 10px 15px;
}